* {
    font-family: -apple-system,BlinkMacSystemFont,"Avenir Next",Avenir,"Nimbus Sans L",Roboto,"Noto Sans","Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
  }
  #hcplist li {
    margin: 5px;
  }
  #button {
    color: aliceblue;
    background-color: #628bd6;
    border: none;
    border-radius: 7px;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #button:active {
    background-color: rgb(124, 171, 231);
  }